html, body {
    margin: 0;
    background-color: rgb(243, 243, 243);
    font-family: sans-serif;
}

.topbar {
    height: 60px;
    background: #ba1e1e;
    color: white;
    display: flex;
    align-items: center;
    padding: 14px 40px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.brand img {
    height: 40px;
}

.brand h1 {
    font-size: 26px;
    margin: 0;
    font-weight: 700;
}

.menu {
    display: flex;
    gap: 30px;
    margin-left: 850px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.menu a:hover {
    opacity: 0.85;
}

.menu a.active::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
}

main {
    margin-top: 3px;
}

#images {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 0.6fr;

    gap: 4px;
}

#images img {
    width: 100%;
    height: 200px;

    object-fit: cover;
    object-position: top;

    display: block;
}

#images2 {
    margin-top: 3px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    gap: 4px;
}

#images2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
}

#title {
    text-align: center;
}

#title h1 {
    font-size: 60px;
    margin-bottom: 30px;
    color: rgb(99, 99, 99);
}

#title button {
    height: 40px;
    width: 230px;
    font-size: 18px;
    color: white;
    background-color: #ba1e1e;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 20px;
}